body {
	font-family: Helvetica, Arial, sans-serif;
}

/* banner */
#banner {
	padding: 150px 0px 50px 0px;
}

/* content */
#content {
	padding: 50px 0;
}

#content .card {
	margin: 10px;
}

/* footer */
footer {
	margin-bottom: 0px;
}